<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {{! CSS DE BOOTSTRAP }}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    {{! JS DE BOOTSTRAP }}
    <script defer src="/bootstrap/js/bootstrap.bundle.js"></script>
</head>

<body class="bgOwn">
    {{>navbar
    background="text-bg-dark"
    }}
    <main class="container">
        {{{body}}}
    </main>

</body>

</html>

<style>
    .bgOwn {
        background: rgb(100, 164, 105);
        background: -moz-linear-gradient(0deg, rgba(100, 164, 105, 1) 25%, rgba(130, 130, 130, 1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(100, 164, 105, 1) 25%, rgba(130, 130, 130, 1) 100%);
        background: linear-gradient(0deg, rgba(100, 164, 105, 1) 25%, rgba(130, 130, 130, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64a469", endColorstr="#828282", GradientType=1);
        color: azure;

    }
</style>